.MessagesView {
  margin:auto;
  width: 50%;
  height:45em;
  line-height:2em;
  overflow:scroll;
  background-color: white;
}

.UserMessage {
  color: blue;
  font-weight: bold;
}

.SystemMessage {
  color: green;
  font-weight: bold;
}